{% extends "base-template.html" %}

{% block content %}
	<div id="loginmodal" style="display:none;">
		<form method="post" id="login-form" action="home.html">
			<label for="username">Username:</label>
      		<input type="text" id="username" tabindex="1" />

      		<label for="password">Password:</label>
      		<input type="text" id="password" tabindex="2" />

      		<input type="submit" id="submit-login" value="Login" tabindex="3" style="float:center;" />
    	</form>
	</div>
	<script type="text/javascript">
		$(function(){
			$('#login-form').submit(function(e){
    			return false;
 		 	});
			$('#login-button').leanModal();
		});
	</script>
{% endblock %}
